In [1]:
import pandas as pd
import re

In [15]:
def is_vowel(string):
   return bool(re.search(r'^[aeiouAEIOU]$', string))

In [16]:
is_vowel('ie')

False

In [4]:
def is_valid_username(username):
    return ((username == re.search(r'[\w]+',username)[0].lower()) & 
            (len(username) < 33) & 
            (username[0] == re.search(r'[a-z]', username)[0]))
# return bool(re.search(r'^[a-z][a-z0-9_]{,31}$', string))

In [5]:
username = 'codeup123'
is_valid_username(username)

True

In [6]:
# number = '867-5309'
number = '(210) 867 5309'
number = '+1 210.867.5309'
# number = '210-867-5309'
re.search(r'''
(?P<country_code>\+?\d?)?
.?
(\(?\d{3}?\)?)?
.?
(\d{3}.\d{4})
''', number, re.VERBOSE)[0]

'+1 210.867.5309'

In [7]:
number = '867-5309'
# number = '(210) 867 5309'
number = '+1 210.867.5309'
results = re.search(r'''
(?P<country_code>\d)?
\D*?
(?P<area_code>\d{3})?
\D*?
(?P<prefix>\d{3})
.
(?P<line>\d{4})
''', number, re.VERBOSE,).groupdict()

pd.DataFrame(results, index=[0])

  country_code area_code prefix  line
0            1       210    867  5309

In [8]:
date = '02/04/19'
re.sub(r'(\d{2}).(\d{2}).(\d{2})', r'20\3-\1-\2', date)

'2019-02-04'

In [9]:
text = ['GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 \
{200} 510348 "python-requests/2.21.0" 97.105.19.58',
'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 \
{201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) \
AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36"\
 97.105.19.58',
'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 \
"python-requests/2.21.0" 97.105.19.58']
text

['GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
 'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
 'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58']

In [10]:
df = pd.DataFrame()
for item in text:
    results = re.search(r'''
    (?P<method>[A-Z]+)\s
    (?P<destination>[\w/]+).*\s\[
    (?P<datetime>[\w/:]+).*\s
    (?P<protocol_version>[\w/.]+)\s\{
    (?P<status>\d+)\}\s
    (?P<bytes_sent>\d+)\s\"
    (?P<request_type>.+)\"\s
    (?P<IP>.+)
    ''', item, re.VERBOSE).groupdict()

    df = df.append(results, ignore_index=True)
df = df.reindex(columns=list(results.keys()))
df

,method,destination,datetime,protocol_version,uk,uk2,request_type,IP
0,GET,/api/v1/sales,16/Apr/2019:193452,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file,16/Apr/2019:193452,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items,16/Apr/2019:193453,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58

In [17]:
df = pd.read_csv('/usr/share/dict/words', header=None).dropna()
words = df[0]
words = words.str.lower()
words

0                  a
1                  a
2                 aa
3                aal
4              aalii
             ...
235881        zythem
235882        zythia
235883        zythum
235884       zyzomys
235885    zyzzogeton
Name: 0, Length: 235884, dtype: object