In [1]:
import pandas as pd
import re

In [13]:
def is_vowel(string):
   return bool(re.search(r'[aeiouAEIOU]', string))

In [16]:
is_vowel('le')

True

In [66]:
def is_valid_username(username):
    return ((username == re.search(r'[\w]+',username)[0].lower()) & 
            (len(username) < 33) & 
            (username[0] == re.search(r'[a-z]', username)[0]))

In [67]:
username = 'codeup123'
is_valid_username(username)

True

In [234]:
# number = '867-5309'
number = '(210) 867 5309'
number = '+1 210.867.5309'
# number = '210-867-5309'
re.search(r'''
(?P<country_code>\+?\d?)?
.?
(\(?\d{3}?\)?)?
.?
(\d{3}.\d{4})
''', number, re.VERBOSE)[0]

'+1 210.867.5309'

In [260]:
number = '867-5309'
# number = '(210) 867 5309'
number = '+1 210.867.5309'
results = re.search(r'''
(?P<country_code>\d)?
\D*?
(?P<area_code>\d{3})?
\D*?
(?P<prefix>\d{3})
.
(?P<line>\d{4})
''', number, re.VERBOSE,).groupdict()

pd.DataFrame(results, index=[0])

  country_code area_code prefix  line
0            1       210    867  5309

In [167]:
date = '02/04/19'
re.sub(r'(\d{2}).(\d{2}).(\d{2})', r'20\3-\1-\2', date)

'2019-02-04'

In [436]:
text = ['GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 \
{200} 510348 "python-requests/2.21.0" 97.105.19.58',
'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 \
{201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) \
AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36"\
 97.105.19.58',
'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 \
"python-requests/2.21.0" 97.105.19.58']
text

['GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
 'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
 'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58']

In [458]:
df = pd.DataFrame()
for item in text:
    results = re.search(r'''
    (?P<method>[A-Z]+)\s
    (?P<destination>[\w/]+).*\s\[
    (?P<datetime>[\w/:]+).*\s
    (?P<protocol_version>[\w/.]+)\s\{
    (?P<uk>\d+)\}\s
    (?P<uk2>\d+)\s\"
    (?P<request_type>.+)\"\s
    (?P<IP>.+)
    ''', item, re.VERBOSE).groupdict()

    df = df.append(results, ignore_index=True)
df = df.reindex(columns=list(results.keys()))
df

,method,destination,datetime,protocol_version,uk,uk2,request_type,IP
0,GET,/api/v1/sales,16/Apr/2019:193452,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file,16/Apr/2019:193452,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items,16/Apr/2019:193453,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58

In [440]:
type(df)

pandas.core.frame.DataFrame

In [442]:
df.append(results, ignore_index=True)

,IP,datetime,destination,method,protocol_version,request_type,uk,uk2
0,97.105.19.58,16/Apr/2019:193452,/api/v1/sales,GET,HTTP/1.1,python-requests/2.21.0,200,510348

In [452]:
list(results.keys())

['method',
 'destination',
 'datetime',
 'protocol_version',
 'uk',
 'uk2',
 'request_type',
 'IP']

In [453]:
df.columns = list(results.keys())

In [454]:
df

,method,destination,datetime,protocol_version,uk,uk2,request_type,IP
0,97.105.19.58,16/Apr/2019:193452,/api/v1/sales,GET,HTTP/1.1,python-requests/2.21.0,200,510348